.additions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  padding: 23px 18px 22px 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additions-list {
    display: flex;

  }

  .additions-item {
    margin: 0;
    padding: 0;
    width: 256px;
  }
}

@media (min-width: $desktop-width) {
  .additions-list {
    display: flex;

  }

  .additions-item {
    margin: 0;
    padding: 0;
    width: 400px;
  }
}
