.filters__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  background-color: #F2F2F2;
  border: none;
  margin-bottom: 16px;
  height: 58px;
}
