.filters__legend {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
