.intro__wrapper {
  background-image:url(../img/intro-triangle.svg), url(../img/jpg/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 0px 332px, 0px 0px;
  height: 389px;
  text-align: center;
  margin: 0;
  padding: 0;
}
