.main-footer {
  margin: 0;
  padding: 0;
  padding: 28px 77px 22px 77px;
  text-align: center;
}

.main-footer__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

