.main-footer {
  margin: 0;
  padding: 0;
  padding: 38px 77px 22px 77px;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    margin: 0;
    padding: 0;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    margin: 0;
    padding: 0;
    width: 1200px;
  }
}
