.page-body {
  background-color: #FFFFFF;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-body {
    width: 1200px;
  }
}


