.photo__list {
  margin: 0;
  padding: 0;
  padding: 0px 20px 0px 20px;
  list-style-type: none;
}

.photo__item {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}

.photo__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo__author {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.photo__number-of-likes {
  font-weight: 700;
  font-size: 14;
  line-height: 21px;
}
