.review {
  margin: 0;
  padding: 0;
}

.review__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  list-style: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.review__text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  list-style: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}
