.search-hotel {
  margin: 0;
  padding: 0;
  padding: 39px 18px 65px 18px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}

.search-hotel__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 48px;
}

.search-hotel__link {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: #81B3D2;
  padding: 16px 49px 16px 49px;
}
