.site-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
  background-color: #81B3D2;
}


