.advantages__some-list {
  list-style-type: none;
}

.some-list {
  margin: 0;
  padding: 0;
  padding: 26px 18px 26px 18px;
  background-color: #EEEEEE;
}

.some-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.some-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.some-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

