@use "page-body.scss";
@use "main-header.scss";
@use "site-list.scss";
@use "main-nav.scss";
@use "intro.scss";
@use "advantages.scss";
@use "additions-list.scss";
@use "search-hotel.scss";
@use "main-footer.scss";
@use "copyright.scss";
@use "photos.scss";
@use "photo.scss";
@use "video.scss";
@use "review.scss";
@use "filters.scss";
@use "variables.scss";
@use "modal-failure.scss";
@use "modal-success.scss";



@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #E7E5E5;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
