.textbox__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 150px;
  width: 246px;
}
